/* General styles */

.card-1 {
    background-color: burlywood;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 20px auto; 
    position: relative;
}

.card-1-content {
    margin-right: 120px; 
}

.card-1-image {
    width: 100px; 
    height: auto;
    position: absolute; 
    right: 10px; 
    top: 10px;
}
.card-1 h2 {
    font-size: 20px; 
    margin-bottom: 5px;
}

.card-1 p {
    margin: 4px 0;
}
.card-2 {
    background-color: lightblue; 
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px; 
    height: 200px; 
    padding: 10px; 
    margin: 20px auto; 
    display: flex; 
    position: relative; 
}

.card-2-content {
    flex: 1; 
    margin-right: 115px; 
}

.card-2-image {
    width: 100px; 
    height: auto; 
    position: absolute; 
    right: 10px; 
    top: 10px; 
}

.card-2 h2 {
    font-size: 19px;
    margin-bottom: 1px;
}

.card-2 p {
    margin:4px;
}
